<nav>
    <div><a href="/">Enemy list</a></div>
    <div><a href="/dbms">Database Managment System</a></div>
    <div id="account_handling"><a href="/sing_in">Sign in</a> <a href="sing_in">Sign up</a> </div>
</nav>