#form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    margin: 1rem;
}
#form > input{
    background-color: rgba(255, 255, 255, 0.76);

    margin: 0.5rem;
    height: 2rem;
    aspect-ratio: 1/0.25;

    border-radius: 15px;
    border: 2px black solid;

    text-align: center;

}
#form > input::placeholder{
    text-align: center;
    color: black
}