<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title><%= title %></title>
</head>
<body>
    <%- include("header.ejs") %>

    <form action="/account_create" method="post" id="form">
        <input type="text" name="login" placeholder="Please enter a username" maxlength="200" required>
        <input type="text" name="password" placeholder="Please enter a password you'd like to use" required>
        <input type="text" name="password_repeat" placeholder="Please repeat the password" required>
        <input type="submit" value="Create account">
    </form>
</body>
</html>